p, strong, div, a[href] {
    font-size: 22px;
}

.name h2 {
    display: inline;
}

@media only screen and (max-width: 425px) {
    p, strong, div, a[href] {
        font-size: 14px;
    }
}

.stat-block {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.stats {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
}

.stat-name {
    font-weight: bold; 
}

.stat {
    color: rgb(210, 187, 237);
}

.general-info {
    font-style: italic;
}

.creature-header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.source {
    margin-top: 15px;
}