div#registration-block {
    display:none
}

span#message {
    display:none
}

.select-group, .search {
    text-align: center;
    display: inline-block;
}

.search {
    display: block;
    margin: 5px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }

.filters {
    width: 100%;
  }
  
.get-me-lower {
    margin-top: 1.1em;
}

.selects {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.spellbook {
    margin-top: 10px;
}

.container {
    align-items: normal;
}
