p, strong, div, a[href], b, i, li {
    font-size: 22px;
}

h2 {
    font-size: 26px;
}

.spell-name h2 {
    display: inline;
}

@media only screen and (max-width: 425px) {
    p, strong, div, a[href], b, i, li {
        font-size: 14px;
    }
    h2 {
        font-size: 16px;
    }
  }