div#registration-block {
    display:none
}

span#message {
    display:none
}

.select-group, .search {
    text-align: center;
    display: inline-block;
}

.search {
    display: block;
    margin: 5px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }

.filters {
    width: 100%;
  }
  
.get-me-lower {
    margin-top: 1.1em;
}

.selects {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.spellbook input, .spellbook button{
    margin: 10px 0px;
    overflow: hidden;
}

.container {
    align-items: normal;
}

@media only screen and (max-width: 425px) {
    .spellbook input {
        font-size: 12px;
      }
  }

@media only screen and (max-width: 1200px) {
    .spellbook {
        margin-top: 20px;
    }
    .select-group {
        width: 100%;
        margin-top: 5px;
    }
    select, input, button {
        width: 100%;
    }
  }

select {
    width: 100%;
}

.create-spelllist {
    margin-top: 10px;
    display: flex;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 15px;
  }

.content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

.collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }

.active:after {
    content: "\2796"; 
  }

.active, .collapsible:hover {
  }