<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Персонажі - Заклинання з ДнД українською</title>
    {% extends "base.html" %}
</head>
<body>
    {% block body %}
<div class="container">
  <h1>Персонажі</h1>
  {% if character_list|length != 0 %}
      <form name="delete-character" id="delete-character" action="delete-character" method="POST">
        <table class="characters-table">
          <tr>
          <th>Ім'я</th>
          <th></th>
          </tr>
      {% for character in character_list %}
        <tr>
          <td><a href="/characters/{{character.character_id}}">{{character.name}}</a></td>
          <td><button type="submit" name="character_id" value="{{character.character_id}}">Видалити</button></td>
        </tr>
      {% endfor %}
    </table>
    </form>

    <br>
  <a href="/create-character/characters">Створити нового?</a>

  {% else %}
  <p>Поки порожньо. <a href="/create-character/characters">Створити нового?</a></p>
  {% endif %}
  {% endblock %}
</div>
</body>
</html>