<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{character_name}}</title>
    {% extends "topnav.html" %}
    {% block css %}
     <link href="{{ url_for('static', filename='css/character.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body %}
<div class="container">
    <div class="name">
        <h1>{{character_name}}</h1>
    </div>
    {% if spells|length != 0 %}
    <div class="table">
        <form name="select-spells" action="/create-spelllist-by-ids" id="select-spells" method="POST" onsubmit="return anyChecked();"></form>
        <form name="delete-character-spell" id="delete-character-spell" action="/delete-character-spell" method="POST">
            <table class="spells-table" border="1px">
            <caption>Заклинання персонажа</caption>
            <tr>
                <th></th>
                <th>Назва</th>
                <th>Рівень</th>
                <th>Школа</th>
                <th>Час використання</th>
                <th>Ритуал</th>
                <th>Концентрація</th>
                <th>Джерело</th>
                <th></th>
            </tr>
            {% for spell in spells %}
                <tr>
                    <td><input type="checkbox" class="spells-to-add" name="selected_spells" value="{{spell.spell_id}}" form="select-spells"></td>
                    <td> <a href="/spell/{{spell.spell_id}}">{{spell.name}}</a> </td>
                    <td>{{spell.level}}</td>
                    <td>{{spell.school}}</td>
                    <td>{{spell.casting_time}}</td>
                    <td>{{spell.has_ritual}}</td>
                    <td>{{spell.has_concentration}}</td>
                    <td>{{spell.source}}</td>
                    <td><button type="submit" name="spell_id" value="{{spell.spell_id}}">Видалити</button></td>
                </tr>
            {% endfor %}
        </table>
            <input type="hidden" name="source" value="{{character_id}}">
        </form>
    </div>

    <div class="create-spelllist">
        <form name="create-spelllist" action="/create-spelllist-from-character" method="POST">
            <input type="hidden" class="btn" value="{{character_id}}" name="character_id">
            <input type="submit" class="btn" value="Роздрукувати всі заклинання персонажа">
        </form>
        <button type="submit" class="btn" form="select-spells">Роздрукувати обрані заклинання</button>
    </div>

    {% else %}
    <p>Поки порожньо. Додайте заклинання в <a href="/spellbook">Книгу Чарів</a> зі сторінки <a href="/spells">заклинань</a></p>
    {% endif %}
    <a href="/characters" style="padding-top: 10px;">Повернутися до своїх персонажів</a>
</div>

<script>
    function anyChecked() {
        let checkboxes = document.querySelectorAll('.spells-table .spells-to-add');
        
        let result = false;
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked == true) result = true;  
        });
        return result;
    }
</script>
{% endblock %}
</body>
</html>