<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зареєструватися</title>
    {% extends "topnav.html" %}
    {% block css %}
    <link href="{{ url_for('static', filename='css/logsign.css') }}" rel="stylesheet">
    {% endblock %}
</head>
{% block body %}
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. <a href="/sign-in">увійти</a>.
                </div>
            {% endif %}
            {% endwith %}
                <h1>Реєстрація</h1>
            <form method="POST" action="/sign-up">
                <input type="text" name="login" class="big-input" placeholder="Логін" autofocus=""><br>

                <input type="password" name="password" class="big-input" placeholder="Пароль"><br>
                <button>Зареєструватися</button>
            </form>
    </div>
</body>
{% endblock %}
</html>