<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
    {% extends "topnav.html" %}
    {% block css %}
    <link href="{{ url_for('static', filename='css/sorry-registration.css') }}" rel="stylesheet">
    {% endblock %}
</head>
{% block body %}
<body>
    <div class="container">
        <h1>Реєстрація</h1>
        <div class="form">
            <p class="smaller">Ви користувалися сайтом через порожній логін. Будь ласка, створіть собі новий акаунт, усі дані буде перенесено. Просимо вибачення.</p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/sorry-registration">
                <input type="text" name="login" class="big-input" placeholder="Логін" autofocus=""><br>

                <input type="text" name="password" class="big-input" placeholder="Пароль"><br>
                <button class="btn">Зареєструватися</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
</html>