<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга чарів</title>
</head>
<body>
{% extends "topnav.html" %}
    {% block body %}
<h1>Книга чарів</h1>
{% if spells|length != 0 %}
  <form name="delete-spell" id="delete-spell" action="delete-spellbook-spell" method="POST">
    <table border="1 px">
      <tr>
      <th>Назва</th>
      <th></th>
      </tr>
  {% for spell in spells %}
    <tr>
      <td><a href="/spell/{{spell.spell_id}}">{{spell.name}}</a></td>
      <input type="hidden" name="spell_id" value="{{spell.spell_id}}">
      <td><button type="submit">Видалити</button></td>
    </tr>
  {% endfor %}
</table>
</form>
{% endif %}
    {% if spells|length == 0 %}
        <span>Поки порожньо, але ви завжди можете записати сюди свої улюблені заклинання зі <a href="/spells">сторінки заклинань</a></span>
    {% endif %}
{% endblock %}
</body>
</html>