<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заклинання</title>
</head>
<style type="text/css">
    div#registration-block {
        display:none
    }
    span#message {
        display:none
    }
</style>
<body>
    {% extends "topnav.html" %}
    {% block body %}
    <div class="filters">
        <form action="spells" method="POST">
            <label for="name">Назва заклинання:</label>
            <br>
            <input type="text" name="name" id="name" value="{{filters.name_filter}}" placeholder="{{filters.name_filter}}">
            <br>
            <br>
            <select name="class">
                <option value="">Клас</option>
                {% for class in form.classes %}
                    {% if class == filters.class_filter %}
                        <option selected value="{{class}}">{{class}}</option>
                    {% else %}
                        <option value="{{class}}">{{class}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="level">
                <option value="">Рівень</option>
                {% for level in form.levels %}
                    {% if level == filters.level_filter %}
                        <option selected value="{{level}}">{{level}}</option>
                    {% else %}
                        <option value="{{level}}">{{level}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="school">
                <option value="">Школа магії</option>
                {% for school in form.schools %}
                    {% if school == filters.school_filter %}
                        <option selected value="{{school}}">{{school}}</option>
                    {% else %}
                        <option value="{{school}}">{{school}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="casting_time">
                <option value="">Час використання</option>
                {% for casting_time in form.casting_times %}
                    {% if casting_time == filters.casting_time_filter %}
                        <option selected value="{{casting_time}}">{{casting_time}}</option>
                    {% else %}
                        <option value="{{casting_time}}">{{casting_time}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="ritual">
                <option value="">Ритуал</option>
                {% for ritual in form.rituals %}
                    {% if ritual == filters.ritual_filter %}
                        <option selected value="{{ritual}}">{{ritual}}</option>
                    {% else %}
                        <option value="{{ritual}}">{{ritual}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="concentration">
                <option value="">Концентрація</option>
                {% for concentration in form.concentrations %}
                    {% if concentration == filters.concentration_filter %}
                        <option selected value="{{concentration}}">{{concentration}}</option>
                    {% else %}
                        <option value="{{concentration}}">{{concentration}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="source">
                <option value="">Джерело</option>
                {% for source in form.sources %}
                    {% if source == filters.source_filter %}
                        <option selected value="{{source}}">{{source}}</option>
                    {% else %}
                        <option value="{{source}}">{{source}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Застосувати фільтри">
            <button> <a href="/spells">Скинути фільтри</a> </button>
        </form>
    </div>
    <form name="select-spells" action="add-to-spellbook" id="select-spells" method="POST" onsubmit="return add_to_spellbook(this)"></form>
        <input type="submit" id="submit-spells" name="submit-spells" form="select-spells" value="Додати обрані заклинання у власну Книгу Чарів">

    <div id="registration-block">
        <br>
        <label for="hybrid-registration-form">Уведіть дані для свого нового акаунта або увійдіть, використавши дійсні</label>
        <form action="hybrid-registration" id="hybrid-registration-form" name="hybrid-registration-form" method="POST" onsubmit="return send_hybrid_registration(this)">
            <div>
                <div>
                    <input type="text" name="login" placeholder="Логін" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="password" name="password" placeholder="Пароль">
                </div>
            </div>
            <div>
                <label class="checkbox">
                    <input type="checkbox" name="remember_me">
                    Запам'ятати мене
                </label>
            </div>
            <input type="submit" form="hybrid-registration-form" value="Увійти\Зареєструватися">
        </form>
    </div>
    <span id="message"></span>
    <table class="spells-table" id="spells-table" border="1 px">
        <caption>Заклинання</caption>
        <tr>
            <th></th>
            <th>Назва</th>
            <th>Рівень</th>
            <th>Школа</th>
            <th>Час використання</th>
            <th>Ритуал</th>
            <th>Концентрація</th>
            <th>Джерело</th>
        </tr>
        {% for spell in spells %}
            <tr>
                <td><input type="checkbox" class="spells-to-add" name="selected_spells" value="{{spell.spell_id}}" form="select-spells"></td>
                <td> <a href="/spell/{{spell.spell_id}}">{{spell.name}}</a> </td>
                <td>{{spell.level}}</td>
                <td>{{spell.school}}</td>
                <td>{{spell.casting_time}}</td>
                <td>{{spell.has_ritual}}</td>
                <td>{{spell.has_concentration}}</td>
                <td>{{spell.source}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
<script src="{{ url_for('static', filename='add-to-spellbook.js') }}"></script>
{% endblock %}
</html>