<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{spell_name}}">
    <meta name="description" content="{{spell_name}}, {{spell_description}}">
    <title>{{spell_name}} - Заклинання з ДнД українською</title>
    {% extends "topnav.html" %}
</head>
    {% block body %}
<body>
    <div class="container">
        <div class="spell-name">
            <h2>{{spell_name}}</h2>
        </div>
        <div class="spell-usage-information underlined">
            <p>
                {{school}}; {{level}}
            </p>
            <p>
                <b>Час використання:</b>
                {{casting_time}}
                <br>
                <b>Дальність:</b>
                {{range}}
                <br>
                <b>Компоненти:</b>
                {{components}}
                <br>
                <b>Тривалість:</b>
                {{duration}}
                <br>
            </p>
        </div>
        <div class="spell-description underlined">
            {{spell_description | safe}}
        </div>
        <br>
        <div class="spell-classes">
            <i>{{spell_classes}}</i>
        </div>
        <div class="spell-races">
            <i>{{spell_races}}</i>
        </div>
        <div class="source">
            <b>Джерело:</b> {{source}}
        </div>
    </div>
</body>
{% endblock %}
</html>