<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заклинання</title>
    <meta name="description" content="Заклинання ДнД українською. Знаходьте, фільтруйте, додавайте в книгу чарів, прив'язуйте до персонажів і багато іншого!">
    
    {% extends "topnav.html" %}
    {% block css %} 
    <link href="{{ url_for('static', filename='css/spells.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container">
        <form action="spells" method="POST" id="filter">
            <div class="search" id="search">
                <label for="name">Назва заклинання:</label>
                <br>
                <input type="text" name="name" id="name" value="{{filters.name_filter}}" autofocus class="input">
            </div>
        <button type="button" class="collapsible btn">Фільтри</button>
        <div class="content">
            <div class="filters">
                    <div class="selects">
                        <div class="select-group">
                            <label for="classes">Класи</label><br>
                            <select name="classes" id="classes" class="multiple-select" multiple size="10">
                                {% for class in form.classes %}
                                    {% if class in filters.classes_filter %}
                                        <option selected value="{{class}}">{{class}}</option>
                                    {% else %}
                                        <option value="{{class}}">{{class}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group">
                            <label for="levels">Рівні</label><br>
                            <select name="levels" id="levels" class="multiple-select" multiple size="10">
                                {% for level in form.levels %}
                                    {% if level in filters.levels_filter %}
                                        <option selected value="{{level}}">{{level}}</option>
                                    {% else %}
                                        <option value="{{level}}">{{level}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group">
                            <label for="school">Школи</label><br>
                            <select name="school">
                                <option value=""></option>
                                {% for school in form.schools %}
                                    {% if school == filters.school_filter %}
                                        <option selected value="{{school}}">{{school}}</option>
                                    {% else %}
                                        <option value="{{school}}">{{school}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group">
                            <label for="casting_time">Час використання</label><br>
                            <select name="casting_time">
                                <option value=""></option>
                                {% for casting_time in form.casting_times %}
                                    {% if casting_time == filters.casting_time_filter %}
                                        <option selected value="{{casting_time}}">{{casting_time}}</option>
                                    {% else %}
                                        <option value="{{casting_time}}">{{casting_time}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group" style="padding: 0 5px;">
                            <label for="ritual">Ритуал</label><br>
                            <select name="ritual">
                                <option value=""></option>
                                {% for ritual in form.rituals %}
                                    {% if ritual == filters.ritual_filter %}
                                        <option selected value="{{ritual}}">{{ritual}}</option>
                                    {% else %}
                                        <option value="{{ritual}}">{{ritual}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group">
                            <label for="concentration">Концентрація</label><br>
                            <select name="concentration">
                                <option value=""></option>
                                {% for concentration in form.concentrations %}
                                    {% if concentration == filters.concentration_filter %}
                                        <option selected value="{{concentration}}">{{concentration}}</option>
                                    {% else %}
                                        <option value="{{concentration}}">{{concentration}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group">
                            <label for="sources">Джерела</label><br>
                            <select name="sources" id="sources" class="multiple-select" multiple>
                                {% for source in form.sources %}
                                    {% if source in filters.sources_filter %}
                                        <option selected value="{{source}}">{{source}}</option>
                                    {% else %}
                                        <option value="{{source}}">{{source}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-group">
                            <input class="btn get-me-lower" type="reset" value="Скинути фільтри">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="spellbook">
            <form name="select-spells-for-spelllist" id="select-spells-for-spelllist" action="/create-spelllist-by-ids"  method="POST" onsubmit="return CreateSpelllist();"></form>
            <input type="submit" class="btn" form="select-spells-for-spelllist" value="Роздрукувати обрані заклинання">
        </div>
        <div id="registration-modal">
            <form class="modal-box animate" action="hybrid-registration" id="hybrid-registration-form" name="hybrid-registration-form" method="POST" onsubmit="return send_hybrid_registration(this)">
                <div class="box">
                    <label for="hybrid-registration-form">Уведіть дані для свого нового акаунта або увійдіть, використавши дійсні</label>
                    <input type="text" name="login" placeholder="Логін" autofocus class="input">
                    <input type="text" name="password" placeholder="Пароль" class="input">
                    <input class="btn input" type="submit" form="hybrid-registration-form" value="Увійти\Зареєструватися">
                </div>
                </form>
                <span id="message"></span>
        </div>
        <div id="flash-success" class="flash">
            <p class="message">

            </p>
        </div>
        <div class="table">
            <table class="spells-table" id="spells-table" border="1px">
                <caption>Заклинання</caption>
                <tr>
                    <th></th>
                    <th>Назва</th>
                    <th>Рівень</th>
                    <th>Школа</th>
                    <th>Час використання</th>
                    <th>Ритуал</th>
                    <th>Концентрація</th>
                    <th>Джерело</th>
                    <th></th>
                </tr>
                {% for spell in spells %}
                    <tr>
                        <td>
                            <div class="book-box">
                                <img src="{{ url_for('static', filename='images/book-inactive.png') }}" 
                                class="book" onclick="manageBook(this)" title="Додати у власну Книгу Чарів"/>
                            </div>
                        </td>
                        <td> <a href="/spell/{{spell.spell_id}}">{{spell.name}}</a> </td>
                        <td>{{spell.level}}</td>
                        <td>{{spell.school}}</td>
                        <td>{{spell.casting_time}}</td>
                        <td>{{spell.has_ritual}}</td>
                        <td>{{spell.has_concentration}}</td>
                        <td>{{spell.source}}</td>
                        <td>
                            <input type="checkbox" class="spells-to-add" name="selected_spells" value="{{spell.spell_id}}" form="select-spells-for-spelllist">
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/add-to-spellbook.js') }}"></script>
<script src="{{ url_for('static', filename='js/multiple-selects.js') }}"></script>
<script src="{{ url_for('static', filename='js/dynamic-filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/collapsible-filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/manage-book.js') }}"></script>
{% endblock %}
</html>