<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="DnD, D&D, днд, Dungeons and Dragons, підземелля та дракони, spells, заклинання, чарування, спели, спелли, чарунки, українською, днд українською, holota, Брати Голоти">
    <meta name="author" content="Holota family">
    <meta name="application-name" content="spells holota family">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/dark-favicon.ico') }}" rel="icon" media="(prefers-color-scheme: light)">
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" media="(prefers-color-scheme: dark)">
    {% block css %}{% endblock %}
</head>
<main>
    {% block topnav %}
      <nav id="topnav" class="underlined">
        <a href="/spells" id="logo" style="padding: 0px 5px; padding-top: 5px">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="logo" />
        </a>
        <a class="hidden" id="authorization" onclick="document.getElementById('registration-modal').style.display='block'">Авторизація</a>
        <a class="hidden" id="spellbook" href="/spellbook">Книга чарів</a>
        <a class="hidden" id="profile" href="/profile">Профіль</a>
        <a class="hidden" id="logout" href="/logout">Вийти</a>
      </nav>
</main>
  <script>
  if ({{ current_user.is_authenticated|tojson }} == true) {
      document.getElementById('spellbook').style.display = 'block'
      document.getElementById('profile').style.display = 'block'
      document.getElementById('logout').style.display = 'block'
  } else {
      document.getElementById('authorization').style.display = 'block'
  }
</script>
    {% endblock %}
    {% block body %}{% endblock %}
</html>