<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="DnD, D&D, днд, Dungeons and Dragons, підземелля та дракони, spells, заклинання, чарування, спели, спелли, чарунки, українською, днд українською, holota, Брати Голоти">
    <meta name="author" content="Holota family">
    <meta name="application-name" content="spells holota family">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/dark-favicon.ico') }}" rel="icon" media="(prefers-color-scheme: light)">
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" media="(prefers-color-scheme: dark)">
    {% block css %}{% endblock %}
</head>
<main>
    {% block topnav %}
      <nav id="topnav" class="underlined">
        <a href="/spells" id="logo">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="logo" />
        </a>
        <a id="spells" href="/spells">Заклинання</a>
          {% if not current_user.is_authenticated  %}
            <a id="sign-up" href="/sign-up">Реєстрація</a>
          {% endif %}
          {% if not current_user.is_authenticated  %}
            <a id="log-in" href="/log-in">Вхід</a>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a id="spellbook" href="/spellbook">Книга чарів</a>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a id="profile" href="/profile">Профіль</a>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a id="logout" href="/logout">Вийти</a>
          {% endif %}
      </nav>
</main>
    {% endblock %}
    {% block body %}{% endblock %}
</html>